# Standaard instellingen voor alle bestanden
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Python-specifieke instellingen
[*.py]
indent_size = 4
max_line_length = 88

# YAML-specifieke instellingen
[*.{yml,yaml}]
indent_size = 2

# JSON-configuratiebestanden
[*.json]
indent_size = 2

# Markdown documenten
[*.md]
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
# Geen extra instellingen nodig, want end_of_line = lf is al ingesteld in [*]